/* Introdução */

.introducao_home {
	width: 100%;
	height: 1250px;
	background: url("fundo.jpg") no-repeat center;
	background-size: cover;
		text-align: justify;
	padding-top: 400px;
	font-family: Georgia, "Times New Roman", serif;
}


.intro_start
{
}

.intro_intro	
{

}

.intro_end
{

}